
@{
    ViewData["Title"] = "NewVehiclesRegistration";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card mt-4" style="width: 100%;">
    <div class="card-body">
        <h1 class="card-title text-center">New Vehicles Registration</h1>
        <div class="x_content col-md-12">
            <form id="VehiclesRegistrationForm">
                <div class="row">
                    <div class="col">
                        <label asp-for="EngineNumber" class="control-label">Engine Number</label>
                        <input asp-for="EngineNumber" name="EngineNumber" class="form-control" required placeholder="e.g. TOYOTA-2ZR-FXE" />
                        <span asp-validation-for="EngineNumber" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="EngineCC" class="control-label">Engine Power (CC)</label>
                        <input asp-for="EngineCC" name="EngineCC" class="form-control" required placeholder="e.g. 1500" />
                        <span asp-validation-for="EngineCC" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="chassisNumber" class="control-label">Chassis Number</label>
                        <input asp-for="chassisNumber" name="chassisNumber" class="form-control" required placeholder="e.g. 1HGBH41JX" />
                        <span asp-validation-for="chassisNumber" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="RegisterName" class="control-label">Register Name</label>
                        <input asp-for="RegisterName" name="RegisterName" class="form-control" required placeholder="e.g. John Doe" />
                        <span asp-validation-for="RegisterName" class="text-danger"></span>
                    </div>
                </div>
                 <div class="row">
                      <div class="col">
                        <label asp-for="RegisterNID" class="control-label">Register NID</label>
                        <input asp-for="RegisterNID" name="RegisterNID" class="form-control" required placeholder="e.g. 7364466933" />
                        <span asp-validation-for="RegisterNID" class="text-danger"></span>
                      </div>


                    <div class="col">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="e.g. +880 123456789" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                      @*<div class="col">
                        <label asp-for="Nationality" class="control-label">Nationality</label>
                        <input asp-for="Nationality" name="Nationality" class="form-control" required placeholder="e.g. Bangladesh" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                      </div>*@
                 </div>
                
                  <div class="row">
                    @*New field start here for bank*@
                    <div class="col">
                        <label asp-for="Bank" class="control-label">Bank</label>
                        <select asp-for="Bank" name="Bank" class="form-control">
                            <option value="Dhaka">-- Select One --</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Sonali">Sonali</option>
                            <option value="Jamuna">Jamuna</option>
                        </select>
                        <span asp-validation-for="Bank" class="text-danger"></span>
                    </div>
                        @*<div class="col">
                        <label asp-for="Bank" class="control-label">Bank</label>
                        <input asp-for="Bank" name="Bank" class="form-control" placeholder="e.g. Dhaka/Sonali/Jamuna" />
                        <span asp-validation-for="Bank" class="text-danger"></span>
                        </div>*@
                    <div class="col">
                        <label asp-for="Nationality" class="control-label">Nationality</label>
                        <select asp-for="Nationality" name="Nationality" class="form-control" required>
                            <option value="Bangladesh">Bangladesh</option>
                        </select>
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                </div> 
             
                <div class="row">
                    <div class="col">
                        <label asp-for="ManufactureYear" class="control-label">Manufacture Year</label>
                        <input asp-for="ManufactureYear" name="ManufactureYear" class="form-control" required placeholder="e.g. 2023" />
                        <span asp-validation-for="ManufactureYear" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Color" class="control-label">Color</label>
                        <input asp-for="Color" name="Color" class="form-control" placeholder="e.g. Red" />
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="BodyType" class="control-label">Body Type</label>
                        <input asp-for="BodyType" name="BodyType" class="form-control" placeholder="e.g. Sedan, Coupe, Hatchback, SUV etc." />
                        <span asp-validation-for="BodyType" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="RPM" class="control-label">RPM</label>
                        <input asp-for="RPM" name="RPM" class="form-control" placeholder="e.g. 6600" />
                        <span asp-validation-for="RPM" class="text-danger"></span>
                    </div>
                </div>
                 <div class="row">
                        <div class="col">
                        <label asp-for="FuelUsed" class="control-label">Fuel Used</label>
                        <input asp-for="FuelUsed" name="FuelUsed" class="form-control" placeholder="e.g. 87 or etc." />
                        <span asp-validation-for="FuelUsed" class="text-danger"></span>
                        </div>
                        <div class="col">
                        <label asp-for="MakersCountry" class="control-label">Maker's Country</label>
                        <input asp-for="MakersCountry" name="MakersCountry" class="form-control" placeholder="e.g. Japan" />
                        <span asp-validation-for="MakersCountry" class="text-danger"></span>
                        </div>
                 </div>
                <div class="row">
                    <div class="col">
                         <label asp-for="NumberOfCylinders" class="control-label">Number of Cylinders</label>
                        <input asp-for="NumberOfCylinders" name="NumberOfCylinders" class="form-control" required placeholder="e.g. 4, 6, or 8" />
                            <span asp-validation-for="NumberOfCylinders" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="WheelBase" class="control-label">Wheel Base</label>
                        <input asp-for="WheelBase" name="WheelBase" class="form-control" placeholder="e.g. 2,600 mm" />
                        <span asp-validation-for="WheelBase" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3 text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#VehiclesRegistrationForm').submit(function (e) {
            e.preventDefault();
            // Get the form data
            var formData = $(this).serialize();

            // Send an AJAX request
            $.ajax({
                url: '@Url.Action("NewVehiclesRegistration", "Home")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    Swal.fire({
                        icon: result.icon,
                        title: result.title,
                        text: result.message
                    });
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>

