
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card mt-4" style="width: 100%;">
    <div class="card-body">
        <h1 class="card-title text-center">Profile</h1>
    </div>
</div>

